{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>About FoodCourt</h1>
        </div>
        <h3><br>Welcome to Halal & Fresh Food Court</h3>
            <p><br>
            We bring you the best food from local chefs, right at your doorstep.</p>
            <p>At Halal & Fresh Food Court, we bring you a diverse selection of mouth-watering, halal-certified meals, made with the freshest ingredients. Whether you're looking for a quick snack, a hearty meal, or a sweet treat, our food court has something for everyone.
            <br>Our mission is to make quality meals accessible to everyone.</p>

            <h5>Why Choose Us?</h5>
            <h6>100% Halal-Certified:</h6>
            <p> All of our dishes are prepared in accordance with Islamic dietary guidelines, ensuring that our food is halal and meets the highest standards.</p><br>
  
            <h6>Fresh Ingredients:</h6>
            <p> We pride ourselves on using only the freshest, locally sourced ingredients to prepare our meals, ensuring you get delicious, nutritious food every time.</p><br>
                
            <h6>Wide Variety:</h6> 
            <p>From succulent grilled meats to flavorful vegetarian options, our menu offers a range of international cuisines, satisfying every craving.</p><br>
                
            <h6>Family-Friendly Atmosphere:</h6> 
            <p>Whether you're dining solo, with family, or friends, our welcoming environment is perfect for all ages.</p><br>
                
            <p>Come and experience the taste of freshness at Halal & Fresh Food Court, where quality and flavor meet in every bite.</p><br>
        
    </div>
</div>








{% endblock content %}
